@import "./variables";

footer
{
	width: 100%;
	background: #e30a33;
	padding: 30px 10px;
	position: relative;
    color: #fff;

    .copyright
    {
    	font-size: $font-tablet;
    	width: 100%;
    	text-align: center;

    }
}
